$color-gradient: -webkit-linear-gradient(left, red, green, yellow);
$transform: scale(0.9);
$transform-opinion: scale(1.1);
$list-style-none: none;
$text-decoration-none: none;

$color-sky-blue: #2d84f8;

$libre-baskerville: "libre baskerville", sans-serif;
$red-hat-display: "red hat display", sans-serif;
$fuzzy-bubbles: "fuzzy bubbles", sans-serif;
$trispace: "trispace", sans-serif;
